@use "header/navbar";
@use "header/banner";

header {
    overflow: hidden;
    background-image: url(../img/header-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: relative;
}

#header {
    background-color: rgba(0, 0, 0, 0.15);
    height: 100%;
    width: 100%;
}